.form{
    background-color: #eee;
    border-bottom: 1px solid #ffff;
}

.wrapper{
    height: 550px;
    padding-bottom: 25px;
}

.formSubmit{
    cursor: pointer;
    background-color:#ffe5ac69;  
} 

.disabledButton {
    color: grey;
}

.loginPage .disabledButton:hover {
    box-shadow: initial;
}

input{
    width: 300px;
    margin: 0 0 20px;
    padding: 16px 14px;
    border-radius: 7px;
    outline: none;
    font-size: 17px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    outline: none;
    border: 1px solid #111;
    box-shadow: 0 5px 6px -6px;
}

.invalidInput{
    border: 1px solid red;
}

.invalidInput:focus {
    box-shadow: 0 0 0 1px crimson;
}

.btn{
    outline: none;
}

.btn:hover {
    outline: none;
    background-color: aliceblue;
    box-shadow: 0 0 0 1px;
}

.Selector{
    padding: 10px 0;
    width: 328px;
}

.wrapper__form{
    padding: 15px 25px ;
}