.header {
    display: flex;
    align-items: center;
    padding: 8px 32px;
    margin-bottom: 50px;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #22E1FF 100%);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .usermenu {
    margin-left: auto;
  }
  .Selector{
    width: 160px;
    margin: 10px;
  }
  